<div class="d-flex flex-wrap background p-3">
    <div class="col-lg-5 ">
        <h3 class="fs-2 text-white oswald-500">Join Our Newsletter</h3>
    </div>
    <!-- <div class="col-lg-8">
        <input class="form-control" type="text" placeholder="Ingresa tu correo">
        <button class="btn btn-primary-color ">Suscribirse</button>
    </div> -->
    <p-inputGroup class="col-lg-7">
        <input class="form-control" type="text" pInputText placeholder="Ingresa tu correo" />
        <button type="button" pButton class="p-button-warning btn btn-primary-color display-7 text-white py-1 px-4 oswald-500">Suscribirse</button>
    </p-inputGroup>
</div>