<div class="row "style="position: sticky; top: 0; z-index: 1020; background-color: white;">
    
    <div class="col-lg-11 ">
        <app-navigation></app-navigation>
    </div>

    <div class="col-lg-1 d-flex align-items-center justify-content-end">
        <div class="col-lg-6 fs-5">
            <button type="button" class="btn ">
                <i class="far fa-user"></i>
            </button>
        </div>
    
        <div class="col-lg-6 fs-5">
            <app-cart></app-cart>
        </div>
    </div>

</div>