<div class="d-flex  flex-wrap p-3 background">
    
    <div class="col-lg-3 col-md-6 col-sm-6 col-10 text-white mt-3 ps-5">
        <img src="assets/img/logo.png" class="img-fluid rounded w-75" alt="...">
        <div class="mt-4 montserrat-300 text-uppercase">C,3/3 South Chhyabithy Gazipur, Bangladesh</div>
        <div class="my-1 montserrat-300 text-uppercase">Customer Service Hours: M-F 10Am-5PM Closed Weekend & Holidays</div>
        <div class="my-1 montserrat-300 text-uppercase">+8801716942391</div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-10 text-white ps-5">
        <div class="my-4 oswald-500">DEPARTMENTS</div>
        <div class="my-1 montserrat-300 text-uppercase">Radiance Glow Serum</div>
        <div class="my-1 montserrat-300 text-uppercase">Ageless Eye Cream</div>
        <div class="my-1 montserrat-300 text-uppercase">Coverage Foundation</div>
        <div class="my-1 montserrat-300 text-uppercase">Beautiful Lipstick</div>
        <div class="my-1 montserrat-300 text-uppercase">Shampoo</div>
        <div class="my-1 montserrat-300 text-uppercase">Hair Oil</div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-10 text-white ps-5">
        <div class="my-4 oswald-500">NAVIGATE</div>
        <div class="my-1 montserrat-300 text-uppercase">Privacy Policy</div>
        <div class="my-1 montserrat-300 text-uppercase">About Us</div>
        <div class="my-1 montserrat-300 text-uppercase">Shipping/Refund</div>
        <div class="my-1 montserrat-300 text-uppercase">Terms & Conditions</div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-10 text-white ps-5">
        <div class="my-4 oswald-500">RESOURCES</div>
        <div class="my-1 montserrat-300 text-uppercase">Contact Us / FAQ</div>
        <div class="my-1 montserrat-300 text-uppercase">Shipping/Refund</div>
        <div class="my-1 montserrat-300 text-uppercase">Buy Online</div>
        <div class="mt-4 montserrat-300 text-uppercase">
            <i class="fab fa-facebook fs-3 mx-2"></i>
            <i class="fab fa-instagram fs-3 mx-2"></i>
        </div>
    </div>
</div>

<p class="montserrat mt-3">&copy; 2024 Abano Cosmetics. All Rights Reserved</p>
