$montserrat: 'montserrat';
$oswald:'oswald';

.background{
    background-color: #000000;
}

// .montserrat{
//     font-family: $montserrat, sans-serif;
//     font-weight: 300;
// }
// .oswald{
//     font-family:$oswald , sans-serif;
//     font-weight: 500;
// }