<div class="card mt-3">
    <div class="row m-4">

        <div class="col-lg-6  my-2">
            <p class="oswald-300 text color fs-4 text-uppercase">
                Welcome to Abano Cosmetics, where we believe in the power of natural beauty. Our mission is to create effective, high-quality cosmetics that enhance your natural features and leave you feeling confident and beautiful.
            </p>
            <button class="btn btn-primary-color text-uppercase oswald-500 text-white px-5 p-2">Show now</button>
        </div>

        <div class="col-lg-6 mb-2 bg-ifo">
            <div class="row justify-content-center align-items-end">
                <div class="col-4 col-lg-3">
                    <img src="assets/img/main-crema.png" alt="" class="img-fluid width-small">
                </div>
                <div class="col-4 col-lg-2">
                    <img src="assets/img/main-base.png" alt="" class="img-fluid width-medium">
                </div>
                <div class="col-4 col-lg-2">
                    <img src="assets/img/main-labial.png" alt="" class="img-fluid width-tall">
                </div>
            </div>          
        </div>
    </div>
</div>





<div class="container my-5">
    <div class="row">
        <div class=" col-lg-4 col-md-4 col-sm-4 text-center ">
            <img  class="img-fluid height" src="assets/img/serum.png" alt="Serum">
            <p class="mt-2 text-uppercase color oswald-500">Serum</p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-4 text-center ">
            <img class="img-fluid height" src="assets/img/cleanser.png" alt="Cleanser">
            <p class="mt-2 text-uppercase color oswald-500">Cleanser</p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-4 text-center ">
            <img class="img-fluid height" src="assets/img/cream.png" alt="Cream">
            <p class="mt-2 text-uppercase color oswald-500">Cream</p>
        </div>
    </div>
</div>