<button type="button" class="btn btn-primar position-relative" data-bs-toggle="modal" data-bs-target="#productListModal"
    (click)="llenarArrayProduct()">
    <i class="fas  fa-shopping-cart"> </i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{_cartService.addToCartCount()}}
        <span class="visually-hidden">Add products</span>
    </span>
</button>


<!-- Modal -->
<div class="modal fade" id="productListModal" tabindex="-1" aria-labelledby="productListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header background">
                <h5 class="modal-title text-white" id="productListModalLabel">Lista de productos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Cuerpo del modal -->
            <div class="modal-body">

                @for (cartProduct of cartProducts; track $index) {
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img [src]="cartProducts[$index].img" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{cartProducts[$index].nameProduct}}</h5>
                                <p class="card-text">{{cartProducts[$index].price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                }@empty {
                <div class="container">
                    <div class="card">
                        <h3 class="text-danger">No hay productos seleccionados aún. Por favor elige</h3>
                    </div>
                </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Ir Pagar</button>
            </div>
        </div>
    </div>
</div>