<!-- <div class="container  pt-4">
  <div class="row ">
    <div class="col-lg-2"></div>

    
    <div class="col-lg-8 d-flex border border-black rounded">
      <input type="text" class="form-control border-0 focus " placeholder="Search Abano cosmetics...">
      <button class="btn-focus text-hover"><i class="fas fa-search"></i></button>
    </div>

    
    <div class="row col-lg-2 ">
      <div class="col-lg-4"></div>

      <div class="col-lg-4 d-flex align-items-end fs-5 ">
        <button type="button" class="btn btn-primar position-relative">
          <i class="far fa-user"></i>
        </button>
      </div>

      <div class="col-lg-4 d-flex align-items-end fs-5 ">
        <app-cart></app-cart>
      </div>

    </div>
  </div>
</div> -->